<!-- Designer Generator v8.0.0 - SPR 2022-16 12/08/2022 -->

 
 
  <form class="cb-form cb-module-assts cb-t-asstszhwxxeqv-571 " [formGroup]="vc.viewState.T_ASSTSZHWXXEQV_571"> 
   <cobis-breadcrumbs *ngIf="!isModal() && !isDetailGrid() && !isDesignerInclude()" [items]="breadcrumbs$ | async"> 
   </cobis-breadcrumbs> 
   <div class="cb-form__content"> 
    <div class="container"> 
     <cobis-groupbox [disabled]="isDisabled( vc.viewState.VC_LOANSBENIF_286571.enabled, 'VC_LOANSBENIF_286571')" [properties]="vc.viewState.VC_LOANSBENIF_286571" [mode]="vc.mode"> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_LOANSBENCE_363269.enabled, 'G_LOANSBENCE_363269', 'VC_LOANSBENIF_286571', 'Beneficiaro',vc.viewState.T_ASSTSZHWXXEQV_571)" *ngIf="isVisible('G_LOANSBENCE_363269',true)" [properties]="vc.viewState.G_LOANSBENCE_363269" [mode]="vc.mode" formGroupName="Beneficiaro"> 
       <cobis-grid #QV_RL77_QHL37_Grid [properties]="vc.viewState.QV_RL77_QHL37" [mode]="vc.mode" [formGroupGrid]="vc.model.BeneficiaroRowData.formGroup" [dataSource]="vc.model.Beneficiaro" [model]="vc.model" (gridInitDetailTemplate)="gridInitDetailTemplate($event)" (showGridRowDetailIcon)="showGridRowDetailIcon($event)" (gridInitColumnTemplate)="gridInitColumnTemplate($event)" (gridInitEditColumnTemplate)="gridInitEditColumnTemplate($event)" (onSaveRow)="gridSaveRow($event)"> 
        <!--Start Column clientName --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXHHG_980269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXHHG_980269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column birthDate --> 
        <ng-template registerTemplate [id]="'tplCell_VA_DATEFIELDMQJRVD_441269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatDate( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_DATEFIELDMQJRVD_441269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-datefield [attr.disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-datefield> 
        </ng-template> 
        <!--Start Column percentage --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXUBX_184269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXUBX_184269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column relationShip --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXQMW_346269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXQMW_346269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column address --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXABQ_978269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXABQ_978269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column postalCode --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXFBM_352269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXFBM_352269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column telephone --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXSZF_742269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXSZF_742269'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
       </cobis-grid> 
      </cobis-groupbox> 
     </cobis-groupbox> 
    </div> 
   </div> 
  </form> 
  <cobis-modal *ngIf="! isModal()"></cobis-modal>
 
