<!-- Designer Generator v8.0.0 - SPR 2022-16 12/08/2022 -->

 
 
  <form class="cb-form cb-module-assts cb-t-testwkhelvlbd-756 " [formGroup]="vc.viewState.T_TESTWKHELVLBD_756"> 
   <cobis-breadcrumbs *ngIf="!isModal() && !isDetailGrid() && !isDesignerInclude()" [items]="breadcrumbs$ | async"> 
   </cobis-breadcrumbs> 
   <div class="cb-form__content"> 
    <div class="container"> 
     <cobis-groupbox [disabled]="isDisabled( vc.viewState.VC_TESTBKYOLO_973756.enabled, 'VC_TESTBKYOLO_973756')" [properties]="vc.viewState.VC_TESTBKYOLO_973756" [mode]="vc.mode"> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_TESTEKYAAK_356872.enabled, 'G_TESTEKYAAK_356872', 'VC_TESTBKYOLO_973756', 'OtherCharges',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('G_TESTEKYAAK_356872',true)" [properties]="vc.viewState.G_TESTEKYAAK_356872" [mode]="vc.mode" formGroupName="OtherCharges"> 
       <cobis-dropdownlist [attr.disabled]="isDisabled( vc.viewState.VA_TEXTINPUTBOXUFN_810872.enabled, 'VA_TEXTINPUTBOXUFN_810872', 'G_TESTEKYAAK_356872', 'OtherCharges.concept',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('VA_TEXTINPUTBOXUFN_810872')" [properties]="vc.viewState.VA_TEXTINPUTBOXUFN_810872" [mode]="vc.mode" formControlName="concept" [dataSource]="vc.catalogs.VA_TEXTINPUTBOXUFN_810872" (onChange)="change($event,'VA_TEXTINPUTBOXUFN_810872')"> 
       </cobis-dropdownlist> 
      </cobis-groupbox> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_TESTCYDRBD_191872.enabled, 'G_TESTCYDRBD_191872', 'VC_TESTBKYOLO_973756', 'OtherCharges',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('G_TESTCYDRBD_191872',true)" [properties]="vc.viewState.G_TESTCYDRBD_191872" [mode]="vc.mode" formGroupName="OtherCharges"> 
       <cobis-compositeva *ngIf="isVisible('VA_VACOMPOSITEXPWV_130872')" [properties]="vc.viewState.VA_VACOMPOSITEXPWV_130872"> 
        <cobis-textlabel *ngIf="isVisible('VA_CATEGORYTYPEOYS_156872')" [properties]="vc.viewState.VA_CATEGORYTYPEOYS_156872" formControlName="categoryType"></cobis-textlabel> 
        <cobis-textlabel *ngIf="isVisible('VA_VALUEAPPLYTRDBF_557872')" [properties]="vc.viewState.VA_VALUEAPPLYTRDBF_557872" formControlName="valueApply"></cobis-textlabel> 
        <cobis-textlabel *ngIf="isVisible('VA_REFERENCEXBMXWK_229872')" [properties]="vc.viewState.VA_REFERENCEXBMXWK_229872" formControlName="reference"></cobis-textlabel> 
       </cobis-compositeva> 
      </cobis-groupbox> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_TESTPOYFCM_952872.enabled, 'G_TESTPOYFCM_952872', 'VC_TESTBKYOLO_973756', 'OtherCharges',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('G_TESTPOYFCM_952872',true)" [properties]="vc.viewState.G_TESTPOYFCM_952872" [mode]="vc.mode" formGroupName="OtherCharges"> 
       <cobis-numericinputbox [attr.disabled]="isDisabled( vc.viewState.VA_BASECALCULATONI_509872.enabled, 'VA_BASECALCULATONI_509872', 'G_TESTPOYFCM_952872', 'OtherCharges.baseCalculation',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('VA_BASECALCULATONI_509872')" [properties]="vc.viewState.VA_BASECALCULATONI_509872" [mode]="vc.mode" formControlName="baseCalculation" (onCustomInputRestriction)="customValidation($event,'VA_BASECALCULATONI_509872')"></cobis-numericinputbox>
       <cobis-numericinputbox [attr.disabled]="isDisabled( vc.viewState.VA_INIDIVGJKPNKHJF_695872.enabled, 'VA_INIDIVGJKPNKHJF_695872', 'G_TESTPOYFCM_952872', 'OtherCharges.iniDiv',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('VA_INIDIVGJKPNKHJF_695872')" [properties]="vc.viewState.VA_INIDIVGJKPNKHJF_695872" [mode]="vc.mode" formControlName="iniDiv" (onChange)="change($event,'VA_INIDIVGJKPNKHJF_695872')" (onCustomInputRestriction)="customValidation($event,'VA_INIDIVGJKPNKHJF_695872')"></cobis-numericinputbox>
       <cobis-numericinputbox [attr.disabled]="isDisabled( vc.viewState.VA_DIVUPQPVWWEQDNI_233872.enabled, 'VA_DIVUPQPVWWEQDNI_233872', 'G_TESTPOYFCM_952872', 'OtherCharges.divUp',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('VA_DIVUPQPVWWEQDNI_233872')" [properties]="vc.viewState.VA_DIVUPQPVWWEQDNI_233872" [mode]="vc.mode" formControlName="divUp" (onChange)="change($event,'VA_DIVUPQPVWWEQDNI_233872')" (onCustomInputRestriction)="customValidation($event,'VA_DIVUPQPVWWEQDNI_233872')"></cobis-numericinputbox> 
      </cobis-groupbox> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_TESTASOELG_345872.enabled, 'G_TESTASOELG_345872', 'VC_TESTBKYOLO_973756', 'OtherCharges',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('G_TESTASOELG_345872',true)" [properties]="vc.viewState.G_TESTASOELG_345872" [mode]="vc.mode" formGroupName="OtherCharges"> 
       <cobis-numericinputbox [attr.disabled]="isDisabled( vc.viewState.VA_2011UKZSBSFRWRA_245872.enabled, 'VA_2011UKZSBSFRWRA_245872', 'G_TESTASOELG_345872', 'OtherCharges.value',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('VA_2011UKZSBSFRWRA_245872')" [properties]="vc.viewState.VA_2011UKZSBSFRWRA_245872" [mode]="vc.mode" formControlName="value" (onChange)="change($event,'VA_2011UKZSBSFRWRA_245872')"></cobis-numericinputbox>
       <cobis-textinputbox [attr.disabled]="isDisabled( vc.viewState.VA_COMMENTARYRPSHX_258872.enabled, 'VA_COMMENTARYRPSHX_258872', 'G_TESTASOELG_345872', 'OtherCharges.commentary',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('VA_COMMENTARYRPSHX_258872')" [properties]="vc.viewState.VA_COMMENTARYRPSHX_258872" [mode]="vc.mode" formControlName="commentary"></cobis-textinputbox> 
      </cobis-groupbox> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_TESTLECLOB_879872.enabled, 'G_TESTLECLOB_879872', 'VC_TESTBKYOLO_973756', 'OtherCharges',vc.viewState.T_TESTWKHELVLBD_756)" *ngIf="isVisible('G_TESTLECLOB_879872',true)" [properties]="vc.viewState.G_TESTLECLOB_879872" [mode]="vc.mode" formGroupName="OtherCharges"> 
       <cobis-textlabel *ngIf="isVisible('VA_RANGEQFHSDDUABD_909872')" [properties]="vc.viewState.VA_RANGEQFHSDDUABD_909872" formControlName="range"></cobis-textlabel> 
      </cobis-groupbox> 
     </cobis-groupbox> 
    </div> 
   </div> 
   <div class="cb-form__controlbar" *ngIf="!vc.childVc || !vc.autoSyncNavigation"> 
    <cobis-button [disabled]="isDisabled(vc.viewState.CM_TTESTWKH_NN5.enabled,'CM_TTESTWKH_NN5')" *ngIf="isVisible('CM_TTESTWKH_NN5')" [properties]="vc.viewState.CM_TTESTWKH_NN5" [mode]="vc.mode" (onClick)="executeCommand('CM_TTESTWKH_NN5',vc.viewState.CM_TTESTWKH_NN5.name,vc.viewState.CM_TTESTWKH_NN5.causesValidation,vc.viewState.CM_TTESTWKH_NN5.close)"></cobis-button> 
    <cobis-button [disabled]="isDisabled(vc.viewState.CM_TTESTWKH_T57.enabled,'CM_TTESTWKH_T57')" *ngIf="isVisible('CM_TTESTWKH_T57')" [properties]="vc.viewState.CM_TTESTWKH_T57" [mode]="vc.mode" (onClick)="executeCommand('CM_TTESTWKH_T57',vc.viewState.CM_TTESTWKH_T57.name,vc.viewState.CM_TTESTWKH_T57.causesValidation,vc.viewState.CM_TTESTWKH_T57.close)"></cobis-button> 
   </div> 
  </form> 
  <cobis-modal *ngIf="! isModal()"></cobis-modal>
 
