cobis-header + .cb-view-container-root {
    padding: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: opx !important;
    width: auto;
}

.cb-form-header .dropdown-menu {
    overflow-y: auto;
}
