<!-- Designer Generator v8.0.0 - SPR 2022-16 12/08/2022 -->

 
 
  <form class="cb-form cb-module-assts cb-t-paymentutougp-714 " [formGroup]="vc.viewState.T_PAYMENTUTOUGP_714"> 
   <cobis-breadcrumbs *ngIf="!isModal() && !isDetailGrid() && !isDesignerInclude()" [items]="breadcrumbs$ | async"> 
   </cobis-breadcrumbs> 
   <div class="cb-form__content"> 
    <div class="container"> 
     <cobis-groupbox [disabled]="isDisabled( vc.viewState.VC_PAYMENTZMN_922714.enabled, 'VC_PAYMENTZMN_922714')" [properties]="vc.viewState.VC_PAYMENTZMN_922714" [mode]="vc.mode"> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_PAYMENTRKG_540154.enabled, 'G_PAYMENTRKG_540154', 'VC_PAYMENTZMN_922714', 'Payment',vc.viewState.T_PAYMENTUTOUGP_714)" *ngIf="isVisible('G_PAYMENTRKG_540154',true)" [properties]="vc.viewState.G_PAYMENTRKG_540154" [mode]="vc.mode" formGroupName="Payment"> 
       <cobis-grid #QV_5030_22532_Grid [properties]="vc.viewState.QV_5030_22532" [mode]="vc.mode" [formGroupGrid]="vc.model.PaymentRowData.formGroup" [dataSource]="vc.model.Payment" [model]="vc.model" (gridInitDetailTemplate)="gridInitDetailTemplate($event)" (showGridRowDetailIcon)="showGridRowDetailIcon($event)" (gridInitColumnTemplate)="gridInitColumnTemplate($event)" (gridInitEditColumnTemplate)="gridInitEditColumnTemplate($event)" (onSaveRow)="gridSaveRow($event)" (onRowSelecting)="gridRowSelecting($event)" (onAppendRecord)="appendRecord($event)"> 
        <!--Start Column status --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXUWP_909154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXUWP_909154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column sequential --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXMUO_385154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXMUO_385154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column sequentialPay --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXBSJ_689154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXBSJ_689154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column date --> 
        <ng-template registerTemplate [id]="'tplCell_VA_DATEFIELDPDCJAA_495154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatDate( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_DATEFIELDPDCJAA_495154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-datefield [attr.disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-datefield> 
        </ng-template> 
        <!--Start Column datePay --> 
        <ng-template registerTemplate [id]="'tplCell_VA_DATEFIELDEMXTST_413154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatDate( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_DATEFIELDEMXTST_413154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-datefield [attr.disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-datefield> 
        </ng-template> 
        <!--Start Column paymentType --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXXSF_766154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXXSF_766154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column amount --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXZVE_754154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXZVE_754154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column currencyType --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXDLC_207154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXDLC_207154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column user --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXBYZ_445154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXBYZ_445154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column entireFee --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXPKV_144154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXPKV_144154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column advance --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXRRC_423154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXRRC_423154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column reductionType --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXHER_720154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXHER_720154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column collectionType --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXMFE_161154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXMFE_161154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column category --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXQCM_915154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXQCM_915154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column referencedAccount --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXKJZ_326154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXKJZ_326154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column note --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXGMT_221154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXGMT_221154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column regional --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXZNQ_252154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXZNQ_252154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column retention --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXZQK_755154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXZQK_755154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column querySequential --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXEXW_393154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXEXW_393154'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
       </cobis-grid> 
      </cobis-groupbox> 
     </cobis-groupbox> 
    </div> 
   </div> 
  </form> 
  <cobis-modal *ngIf="! isModal()"></cobis-modal>
 
