<!-- Designer Generator v8.0.0 - SPR 2022-16 12/08/2022 -->

 
 
  <form class="cb-form cb-module-assts cb-t-asstsvdyqfqap-288 " [formGroup]="vc.viewState.T_ASSTSVDYQFQAP_288"> 
   <cobis-breadcrumbs *ngIf="!isModal() && !isDetailGrid() && !isDesignerInclude()" [items]="breadcrumbs$ | async"> 
   </cobis-breadcrumbs> 
   <div class="cb-form__content"> 
    <div class="container"> 
     <cobis-groupbox [disabled]="isDisabled( vc.viewState.VC_LOANSCHILE_317288.enabled, 'VC_LOANSCHILE_317288')" [properties]="vc.viewState.VC_LOANSCHILE_317288" [mode]="vc.mode"> 
      <cobis-groupbox [disabled]="isDisabled( vc.viewState.G_LOANSCHLRN_916807.enabled, 'G_LOANSCHLRN_916807', 'VC_LOANSCHILE_317288', 'LoanChildren',vc.viewState.T_ASSTSVDYQFQAP_288)" *ngIf="isVisible('G_LOANSCHLRN_916807',true)" [properties]="vc.viewState.G_LOANSCHLRN_916807" [mode]="vc.mode" formGroupName="LoanChildren"> 
       <cobis-grid #QV_AX75_BUU48_Grid [properties]="vc.viewState.QV_AX75_BUU48" [mode]="vc.mode" [formGroupGrid]="vc.model.LoanChildrenRowData.formGroup" [dataSource]="vc.model.LoanChildren" [model]="vc.model" (gridInitDetailTemplate)="gridInitDetailTemplate($event)" (showGridRowDetailIcon)="showGridRowDetailIcon($event)" (gridInitColumnTemplate)="gridInitColumnTemplate($event)" (gridInitEditColumnTemplate)="gridInitEditColumnTemplate($event)" (onSaveRow)="gridSaveRow($event)"> 
        <!--Start Column desOperationType --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXEIA_503807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXEIA_503807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column loanBankID --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXOCE_836807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXOCE_836807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column clientName --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXOQN_553807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXOQN_553807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column amount --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXRFT_967807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXRFT_967807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column desStatus --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXDHX_705807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXDHX_705807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
        <!--Start Column expirationDate --> 
        <ng-template registerTemplate [id]="'tplCell_VA_DATEFIELDQDTSRZ_983807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatDate( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_DATEFIELDQDTSRZ_983807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-datefield [attr.disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-datefield> 
        </ng-template> 
        <!--Start Column codCurrency --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXTWE_108807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXTWE_108807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column disbursementDate --> 
        <ng-template registerTemplate [id]="'tplCell_VA_DATEFIELDLLPGBL_371807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatDate( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_DATEFIELDLLPGBL_371807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-datefield [attr.disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-datefield> 
        </ng-template> 
        <!--Start Column clientID --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXKYM_971807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ designer.intlService.formatNumber( dataItem[column.field], columnItem.properties.format) }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXKYM_971807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-numericinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-numericinputbox> 
        </ng-template> 
        <!--Start Column numProcedure --> 
        <ng-template registerTemplate [id]="'tplCell_VA_TEXTINPUTBOXHQP_550807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-columnItem="columnItem">
          {{ dataItem[column.field] }} 
        </ng-template> 
        <ng-template registerTemplate [id]="'tplEdit_VA_TEXTINPUTBOXHQP_550807'" let-dataItem let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-columnItem="columnItem" let-isNew="isNew"> 
         <cobis-textinputbox [disabled]="isDisabledGridColumn(column, formGroup, columnItem)" [model]="formGroup.get(column.field).value" [properties]="columnItem.properties" [frmControl]="formGroup.get(column.field)"></cobis-textinputbox> 
        </ng-template> 
       </cobis-grid> 
      </cobis-groupbox> 
     </cobis-groupbox> 
    </div> 
   </div> 
  </form> 
  <cobis-modal *ngIf="! isModal()"></cobis-modal>
 
